/**
<!-- Minimal Markup -->
<div class="layout-wrapper">
  <div class="layout-header">
		<div class="layout-header-wrapper">Header</div>
	</div>
  <div class="layout-body">
    <div class="layout-content-wrapper">
      Content
      <div data-lorem="4p"></div>
      <div data-lorem="4p"></div>
    </div>
    <div class="layout-lside">
			<div class="layout-lside-wrapper">lside</div>
		</div>
    <div class="layout-rside">
			<div class="layout-rside-wrapper">rside</div>
		</div>
  </div>
  <div class="layout-footer">
		<div class="layout-footer-wrapper">Footer</div>
	</div>
</div>
*/


/**
* 1. Avoid the IE 10-11 `min-height` bug.
* 2. Set `flex-shrink` to `0` to prevent some browsers from
*    letting these items shrink to smaller than their content's default
*    minimum size. See http://bit.ly/1Mn35US for details.
* 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
*/

.layout-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.layout-header,
.layout-footer {
  flex: none;
  overflow: hidden;
}

.layout-body {
  display: flex;
  flex-direction: row;;
}

.layout-body-wrapper {
	flex: 1;
}

.layout-content-wrapper {
  flex: 1;
}

.layout-lside {
  order: -1;
  overflow: hidden;
}
.layout-rside {
	overflow: hidden;
}




/*
@media (--break-lg) {
  .layout-body {
    flex-direction: row;
  }
  .layout-content-wrapper {
    flex: 1;
    padding: 0 var(--space-lg);
    margin: 0;
  }
  .layout-lside, .layout-rside {
    flex: 0 0 12em;
  }
}
*/