/*
Following CSS should be included somewhere
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 70ms ease-out;
}

body {
  height: 100vh;
  width: 100%;
}
*/

/**
<!-- Minimal Markup -->
<div class="visor-container">

  <div class="visor-wrapper">
  	
    <div class="visor-header">
			<div class="visor-header-wrapper">TopVisor</div>
		</div>    
	
    <div class="visor-body">
      <div class="visor-lside">
				<div class="visor-lside-wrapper">LeftVisor</div>
			</div>
      <div class="visor-content">
				<div class="visor-content-wrapper">Content</div>
			</div>
      <div class="visor-rside">
				<div class="visor-rside-wrapper">RightVisor</div>    
			</div>
    </div>
			
    <div class="visor-footer">
			<div class="visor-footer-wrapper">BotVisor</div>
		</div>

  </div>
</div>
*/




.visor-container {
  display: flex;	
  flex-direction: column;
	height: 100%;
}

.visor-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.visor-header,
.visor-footer {}
.visor-body {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.visor-content { flex: 1; display: flex; }
.visor-lside { order: -1; }
.visor-rside { order: 1; }
